* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px dotted lightpink; */
    cursor: crosshair;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    /* font-style: normal; */
    font-size: 0.85rem;
    line-height: 1.8rem;
}

body {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
    width: 100%;
}

/* ouvrir un bloc text depuis la nav avec design figma */
/* #mon-image {
    display: none;
    /* L'image est cachée au départ */
/* max-width: 300px; */
/*} */

/*-----------------------------text défilant------------------------------------------  */
.marquee_container {
    overflow: hidden; /* masque ce qui déborde */
    width: 100%; /* largeur de la fenêtre */
    padding: 12rem 0 2rem 0;
    margin: 8rem 0;
    box-sizing: border-box;
}

.marquee_text, .marquee_text_mobile {
    display: inline-block;
    white-space: nowrap;
    font-size: 6rem;
    font-family: "Doto", sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em white,
        0.015em 0.015em 0.0051em rgb(242, 108, 5),
        /* 0.015em 0.015em 0.01em rgb(0, 0, 0),  */
        0 0 0.1em rgb(3, 253, 66),
        0 0 0.2em rgb(135, 255, 165);

    /* text-shadow: 0.02em 0.02em 0.03em white,
        0 0 .5em blue,
        0 0 0.12em #0000ff; */ 
        /* text shadow bleu */
    animation: defilement 8s linear infinite; 
    /* Animation qui part de la droite de l'écran et sort complètement à gauche*/
}
@keyframes defilement {
    0% {
        transform: translateX(50%);
    } /* le text est déjà un peu sur la page et défile dés l'ouverture */
    100% {
        transform: translateX(-100%); /* Finit totalement hors écran à gauche */
    }
}

.disparu {
    display: none !important;
    /* pointer-events: none; */
}
.marquee_container_mobile {
    display: none;
}
.marquee_text_mobile {
    animation: none !important;
}

/*-----------------------------a propos------------------------------------------  */
#image-container {
    display: none;
    /* Caché au départ */
    position: relative;
    width: max-content;
    margin-top: 20px;
}

#fond_a_propos {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: none;
    /*
    font-size: 20px;
    color: #333;
    border-radius: 15%;
    width: 28px;
    height: 28px; 
    line-height: 24px;
    text-align: center;*/
    transition: background 0.2s;
}

.close-btn:hover {
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 1em blue,
        0 0 0.12em blue;
}


/* --------------- C O N T A C T ---------------- */
.container_contact {
    background-image: url(/img/contact_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 35rem;
    min-height: 25rem;
    container-type: inline-size;
    margin: 20rem 8rem 2rem auto;
    padding: 0.15rem 0.7rem;
    align-self: end;
}

h2 {
    font-weight: 900;
    font-size: 160%;
    /* font-size: clamp(1.1rem, 4cqw, 3rem); */
    margin-bottom: 6rem;
}

.container_contact a, p {
    font-size: clamp(.8rem, 2.5cqw, 1.1rem);
    padding-top: .3rem;
}

.container_contact a {
    color: rgba(4, 243, 64, 0.9);
}
/* --------------- C A R D   W O R K ---------------- */
.container_work {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    height: auto;
    width: 100%;
    padding: 3rem;
}

.card {
    width: 37%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    /* position: relative; */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-content {
    padding: 1rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-content p {
    flex: 1;
    font-size: 1rem;
    color: #444;
    margin-bottom: 1rem;
}

.card-content a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.card-content a:hover {
    color: rgb(4, 243, 111);
}

/* ---------F O O T E R------------- */
footer {
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 1px dotted rgb(255, 0, 81); */
}

footer div {
    /* border: 1px dotted blue; */
}


/* ------------------------  R E S P O N S I V E  ----------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container_contact {
        width: 60%;
        margin: 6rem 8rem 2rem auto;
    }

    .container_contact p {
        padding-top: .1rem;
    }
}

@media screen and (max-width: 767px) {
    .container_contact {
        width: 70%;
        margin: 20rem 2rem 2rem 7rem;
    }

    .container_contact p {
        padding-top: .2rem;
    }

    .container_work {
        padding: 1rem;
    }

    .card {
        padding-top: 3rem;
    }
    /*  T E X T E   D E F I L A N T   M O B I L E  */
    .marquee_container {
        display: none;
    }

    .marquee_text {
        animation: none !important;
    }

    .marquee_container_mobile {
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 5rem 0;
        position: relative;
    }



    .marquee_text_mobile .text2 {
        opacity: 0;
        font-family: "Doto", sans-serif;    
        font-size: 3.9rem;
        position: absolute;
        left: 0; /* Position finale */
        margin: 0;
        /* white-space: nowrap; */
    }

    .ligne1 {
        top: 0rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0s;
    }

    .ligne2 {
        top: 4.2rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.3s;
    }

    .ligne3 {
        top: 8.4rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.6s;
    }

    .ligne4 {
        top: 12.6rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.9s;
    }

    @keyframes arrive {
        from {
            opacity: 0;
            left: 120%;
        }
        to {
            opacity: 1;
            left: 0px;
        }
    }
    }