/* ------------------------- T E X T E   D E F I L A N T --------------------------- */
.marquee_container {
    overflow: hidden; /* masque text qui déborde */
    width: 100%; /* limites : largeur de la fenêtre */
    padding: 15rem 0 10rem 0;
    box-sizing: border-box;
}

.marquee_text, .marquee_text_mobile {
    display: inline-block;
    white-space: nowrap;
    font-size: 6rem;
    font-family: "Doto", sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em white,
        0.015em 0.015em 0.0051em rgb(242, 108, 5),
        0 0 0.1em rgb(3, 253, 66),
        0 0 0.2em rgb(135, 255, 165);
    animation: defilement 8.5s linear infinite; 
}

@keyframes defilement {
    0% {
        transform: translateX(50%); /* le text est déjà un peu sur la page et défile dés l'ouverture */
    } 
    100% {
        transform: translateX(-100%); /* finit totalement hors écran à gauche */
    }
}

.disparu {
    display: none !important;
}

.marquee_container_mobile {
    display: none;
}

.marquee_text_mobile {
    animation: none !important;
}

    /*  T E X T E   D E F I L A N T   M O B I L E  */
@media (max-width: 768px) {
    .marquee_container {
        display: none;
    }

    .marquee_text {
        animation: none !important;
    }

    .marquee_container_mobile {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 2rem 0 22rem 0;
        position: relative;
        container-type: inline-size;
    }

    .marquee_text_mobile .text2 {
        opacity: 0;
        font-family: "Doto", sans-serif;    
        font-weight: 700;
        position: absolute;
        left: 3rem; /* Position finale */
        margin: 0;
    }

@container (min-width: 300px) {
        .marquee_text_mobile .text2 { font-size: 3.9rem; }
    }

    .ligne1 {
        top: 0rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0s;
    }

    .ligne2 {
        top: 4.7rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.3s;
    }
/* 
    .ligne3 {
        top: 9.4rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.6s;
    }

    .ligne4 {
        top: 14.1rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.9s;
    } */

    @keyframes arrive {
        from {
            opacity: 0;
            left: 120%;
        }
        to {
            opacity: 1;
            left: 0px;
        }
    }
}
/*----------------------- F L E C H E ------------------------  */
#arrow {
    transition: opacity 0.3s;
    width: 100%;
    padding-bottom: 15rem;
}
#arrow.hidden {
    opacity: 0;
    pointer-events: none;
}
#arrow1, #arrow2, #arrow3, #arrow4, #arrow5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0; /* flèches cachées au départ */
    animation: appear-then-blink 3s linear infinite;
}
@keyframes appear-then-blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }  
}
#arrow1{ animation-delay: 1.5s; }
#arrow2{ animation-delay: 1.9s; }
#arrow3{ animation-delay: 2.3s; }
#arrow4{ animation-delay: 2.7s }
#arrow5{ animation-delay: 3.1s; }

