* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px dotted lightpink; */
    cursor: crosshair;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    /* font-style: light; */
    font-size: 0.85rem;
    line-height: 1.8rem;
    letter-spacing: 0.02rem; 
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ouvrir un bloc text depuis la nav avec design figma */
/* #mon-image {
    display: none;
    /* L'image est cachée au départ */
/* max-width: 300px; */
/*} */

/*-----------------------------text défilant------------------------------------------  */
.marquee_container {
    overflow: hidden; /* masque ce qui déborde */
    width: 100%; /* largeur de la fenêtre */
    padding: 23rem 0 20rem 0;
    /* margin: 4% 0 20rem 0; */
    box-sizing: border-box;
}

.marquee_text, .marquee_text_mobile {
    display: inline-block;
    white-space: nowrap;
    font-size: 9rem;
    font-family: "Doto", sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em white,
        0.015em 0.015em 0.0051em rgb(242, 108, 5),
        /* 0.015em 0.015em 0.01em rgb(0, 0, 0),  */
        0 0 0.1em rgb(3, 253, 66),
        0 0 0.2em rgb(135, 255, 165);

    /* text-shadow: 0.02em 0.02em 0.03em white,
        0 0 .5em blue,
        0 0 0.12em #0000ff; */ 
        /* text shadow bleu */
    animation: defilement 8.5s linear infinite; 
    /* Animation qui part de la droite de l'écran et sort complètement à gauche*/
}
@keyframes defilement {
    0% {
        transform: translateX(50%);
    } /* le text est déjà un peu sur la page et défile dés l'ouverture */
    100% {
        transform: translateX(-100%); /* Finit totalement hors écran à gauche */
    }
}

.disparu {
    display: none !important;
    /* pointer-events: none; */
}
.marquee_container_mobile {
    display: none;
}
.marquee_text_mobile {
    animation: none !important;
}
/*----------------------------- F L E C H E S ------------------------------------------  */
#ar{ font-size: 1.5rem;}
#arrow{
    transition: opacity 0.3s;
    width: 100%;
    padding-bottom: 4rem;
}
#arrow.hidden {
    opacity: 0;
    pointer-events: none;
}
#arrow1, #arrow2, #arrow3, #arrow4, #arrow5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    /* padding: 0.8rem 50%; */
    opacity: 0; /* toutes cachées au départ */
    animation: appear-then-blink 3s linear infinite;
    /* animation: blink 3s linear infinite; */
}
@keyframes appear-then-blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }  
}
#arrow1{ animation-delay: 1.5s; }
#arrow2{ animation-delay: 1.9s; }
#arrow3{ animation-delay: 2.3s; }
#arrow4{ animation-delay: 2.7s }
#arrow5{ animation-delay: 3.1s; }

/*-----------------------------a propos------------------------------------------  */
#image-container {
    display: none;
    /* Caché au départ */
    position: relative;
    width: max-content;
    margin-top: 20px;
}

#fond_a_propos {
    width: 100%;
    margin: 2rem;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: none;
    /*
    font-size: 20px;
    color: #333;
    border-radius: 15%;
    width: 28px;
    height: 28px; 
    line-height: 24px;
    text-align: center;*/
    transition: background 0.2s;
}

.close-btn:hover {
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 1em blue,
        0 0 0.12em blue;
}
/* --------------- C O N T A C T ---------------- */
#contact {
    scroll-margin-top: 11rem; 
}

.container_contact {
    width: 45%;
    /* align-self: flex-end; */
    min-height: 35rem;
    background-image: url(../img/contact_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* min-height: 25rem; */
    /* container-type: inline-size; */
    margin: 5rem 10rem 20rem auto;
    padding: 0.15rem 0.7rem;
    margin-left: auto;
    /* align-self: end; */
}

h2 {
    font-weight: 900;
    font-size: 160%;
    /* font-size: clamp(1.1rem, 4cqw, 3rem); */
    margin-bottom: 6rem;
}

.container_contact a, p {
    font-size: clamp(.8rem, 2.5cqw, 1.1rem);
    padding-top: .3rem;
    color: rgb(26, 46, 25);
}

/* --------------- C A R D   W O R K ---------------- */
#portfolio {
    scroll-margin-top: 11rem; 
}

.container_work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    height: auto;
    padding: 0 3rem;    
}

.card {
    width: 37%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    /* position: relative; */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-content {
    padding: 1rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-content p {
    flex: 1;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 1rem;
}

.card-content a {
    color: rgb(26, 46, 25);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.card-content a:hover {
    color: rgb(4, 243, 111);
}

/* ---------F O O T E R------------- */
footer {
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 1px dotted rgb(255, 0, 81); */
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.copyR{
    font-size: 0.7rem;
    color: rgb(26, 46, 25);
    transform: rotate(270deg);
    transform-origin:  center;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: absolute; top: 1rem; right: -1.8rem;
}









/* ------------------------  R E S P O N S I V E  ----------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .marquee_container{
        padding: 20rem 0 20rem 0;
    }
    #arrow{
        transition: opacity 0.3s;
        width: 100%;
        padding-bottom: 8rem;
    }
    .container_contact {
        width: 60%;
        margin: 5rem 4rem 20rem auto;
    }

    .container_contact p {
        padding-top: .1rem;
    }
}











@media screen and (max-width: 767px) {
    .container_contact {
        width: 60%;
        min-height: 22rem;
        margin: 10rem 4rem 15rem auto;
    }

    .container_contact p, .container_contact a {
        padding-top: .2rem;
        font-size: small;
    }
    /* #portfolio {
        scroll-margin-top: 26rem; 
    } */
    
    .container_work {
        padding: 3rem auto 1.5rem 0;
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;
        justify-content: start;
        gap: O;
        flex-wrap: nowrap;
    }

    .card {
        padding-top: 3rem;
        width: 88%;
        margin-left: 0;
        justify-content: start;
    }
    .card-content{
        margin-left: 3rem;
    }
    /*  T E X T E   D E F I L A N T   M O B I L E  */
    .marquee_container {
        display: none;
    }

    .marquee_text {
        animation: none !important;
    }

    .marquee_container_mobile {
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 2rem 0 22rem 0;
        position: relative;
        container-type: inline-size;

    }

    .marquee_text_mobile .text2 {
        opacity: 0;
        font-family: "Doto", sans-serif;    
        /* font-size: 3.9rem; */
        position: absolute;
        left: 0; /* Position finale */
        margin: 0;
        /* white-space: nowrap; */
    }
    #contact {
        scroll-margin-top: 19rem; 
    }
    #portfolio {
        scroll-margin-top: 15rem; 
    }
    @container (min-width: 300px) {
        .marquee_text_mobile .text2 {
            font-size: 3.5rem;
        }
    }
    .ligne1 {
        top: 0rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0s;
    }

    .ligne2 {
        top: 4.7rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.3s;
    }

    .ligne3 {
        top: 9.4rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.6s;
    }

    .ligne4 {
        top: 14.1rem;
        animation: arrive 1s ease forwards;
        animation-delay: 0.9s;
    }

    @keyframes arrive {
        from {
            opacity: 0;
            left: 120%;
        }
        to {
            opacity: 1;
            left: 0px;
        }
    }
    }