header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* border: 1px dotted rgb(230, 149, 28); */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.container_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.container_mobile{
    display: none;
}

/* dégradé */
.green {
    background: linear-gradient(rgba(255, 255, 255), 0.5%, rgba(135, 255, 165, 0.3) 3% , rgba(135, 255, 165, 0.7) 40%, rgba(135, 255, 165, 0.9) );     
    height: 2rem;
    padding: 0 3rem;
    margin: 0;
}
.green1 {
    background: linear-gradient(rgba(255, 255, 255), 2%, rgba(135, 255, 165, 0.07) 1% , rgba(135, 255, 165, 0.3) 40%, rgb(135, 255, 165, 0.5));
    height: 2rem;
    padding: 0 3rem;
    margin: 0;
}
.green2{
    background: linear-gradient(to bottom, rgba(255, 255, 255) 10%, rgb(135, 255, 165, 0.2));
    height: 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 3rem;
    margin: 0;
}
.green_mil{
    background: linear-gradient(to top, rgba(255, 255, 255) 10%, rgb(135, 255, 165, 0.2));
    height: 1.8rem;
    display: none;
}
/* F I N dégradé */


/* Style N A V */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* max-height: 100%; */
}
.nav ul li {
    margin: 0 1rem;
}
.nav ul li a, .nav_mobile ul li a{
    display: block;
}

.nav_mobile ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name, .dev, .ultra, .nav ul li a, .cv, .contact, .portfolio, .nav_mobile ul li a {
    width: 100%; 
    font-family: "Doto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    letter-spacing: .15rem; 
    text-shadow: 0.02em 0.02em 0.003em rgb(255, 255, 255),
        0.015em 0.015em 0.0051em rgb(255, 255, 255),
        0 0 0.1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255);
        /* 0.015em 0.015em 0.01em rgb(0, 0, 0),  */
    padding: 0.15rem 0 0 0;
    margin: 0;
    text-decoration: none;
    border-bottom: 0.1rem solid transparent; /* lien qui ne bougent pas */
    transition: border-color 0.3s; /* Pour une animation fluide */
    height: 2rem;
    /* border: 1px dotted lightpink;  */
}
.nav_mobile ul li a {
    padding-top: 0.1rem;
    display: flex; /* display et justify === border sur toute la div et non pas que sur le mot */
    justify-content: start;
    text-decoration: none;
    transition: border-color 0.3s; /* Pour une animation fluide */
}
.nav .nav-link:hover  {
    border-bottom: 0.1rem solid black;
} 
.nav_mobile .nav-link.active {
    border-bottom: 0.1rem solid black;
} 
 
/* 
Téléphones (portrait)		≤ 600	@media (max-width: 600px)
Tablettes (portrait/paysage)	601 – 991	@media (min-width: 600px)
Tablettes (paysage)		≥ 768	@media (min-width: 768px)
Laptops / Desktops		≥ 992	@media (min-width: 992px)
Grands écrans			≥ 1200	@media (min-width: 1200px) */
/* ------------------------  R E S P O N S I V E  ----------------------*/
@media (max-width: 768px) {
    header{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container_header .nav { display: none; }
    .name, .dev, .ultra, ul, .nav_mobile ul li a { 
        font-size: 1rem;     
    }   
    .container_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0; 
    }
    .green, .green1, .green2 {
        padding: 0 0 0 3rem;
        margin: 0;
        align-items: start;
    }
    .green_mil {
        display: block;
    }
    
}



