header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.container_header_desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_header_mobile {
    display: none;
}

/* -------------- dégradé -------------- */
.green, .green1, .green2 {
    height: 2rem !important;
    padding: 0 3rem;
    margin: 0;
}

.green {
    background: linear-gradient(rgba(255, 255, 255), 0.5%,
            rgba(135, 255, 165, 0.3) 3%,
            rgba(135, 255, 165, 0.7) 40%,
            rgba(135, 255, 165, 0.9));
}

.green1 {
    background: linear-gradient(rgba(255, 255, 255), 2%,
            rgba(135, 255, 165, 0.07) 1%,
            rgba(135, 255, 165, 0.3) 40%,
            rgb(135, 255, 165, 0.5));
}

.green2 {
    background: linear-gradient(to bottom, rgba(255, 255, 255) 10%,
            rgb(135, 255, 165, 0.2));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.green_mil {
    background: linear-gradient(to top, rgba(255, 255, 255) 10%, rgb(135, 255, 165, 0.2));
    height: 1.8rem;
    display: none;
}
/* --------------  N A V -------------- */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 1rem ;
}

.nav ul li a,
.nav_mobile ul li a,
#cv {
    display: flex;
    /* display: block; */
}

.nav_mobile ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name a,
.conceptrice a,
.uxui a,
.nav_link {
    width: 100%;
    font-family: "Doto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.003em rgb(255, 255, 255),
        0.015em 0.015em 0.0051em rgb(255, 255, 255),
        0 0 0.1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255);
    padding: 0.15rem 0 0 0;
    margin: 0;
    text-decoration: none;
    border-bottom: 0.1rem solid transparent; /* POUR lien qui ne bougent pas */
    transition: border-color 0.3s; /* POUR pour animation fluide */
    height: 2rem; 
}

/* .nav_link_mobile {
    display: none;
} */

.nav_link.active, .nav_link:hover, .nav_link:focus {
    border-bottom : 0.1rem solid black;
    color : black !important;
}

.nav ul li {
    width: fit-content;
}

.name a:hover, .name a:focus, 
.conceptrice a:hover, .conceptrice a:focus, 
.uxui a:hover, .uxui a:focus {
    color : black !important;
}

/* 
Téléphones (portrait)		≤ 600	@media (max-width: 600px)
Tablettes (portrait/paysage)	601 – 991	@media (min-width: 600px)
Tablettes (paysage)		≥ 768	@media (min-width: 768px)
Laptops / Desktops		≥ 992	@media (min-width: 992px)
Grands écrans			≥ 1200	@media (min-width: 1200px) */
/* ------------------------  R E S P O N S I V E  ----------------------*/
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container_header_desktop .nav {
        display: none;
    }

    .name a,
    .conceptrice a,
    .uxui a,
    ul {
        font-size: 1rem;
    }

    /* .nav_link_mobile:hover, .nav_link_mobile:focus {
        border-bottom : 0.1rem solid black;
        color : black !important;
    } */

    .container_header_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .green,
    .green1,
    .green2 {
        padding: 0 0 0 3rem;
        margin: 0;
        align-items: start;
    }

    .green_mil {
        display: flex;
    }
}