* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px dotted rgb(100, 45, 227); */
    cursor: crosshair;
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-size: 0.85rem;
    line-height: 1.7rem;
    letter-spacing: 0.05rem; 
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* -------------- E N    C O U R S --------------  */
.container_encours {
    width: 40%;
    margin: 6rem 10rem 4rem auto; 
}

/* ----------------  C O M P E T E N C E S  ---------------- */  
/* --------------- C O N T A C T ---------------- */
#contact {
    scroll-margin-top: 11rem; 
}

.container_fantome_desk {
    background-image: url(../img/contact.jpg);
}

.container_fantome_mob  {
    background-image: url(../img/competence.jpg);
    display: none;
}

.container_fantome_desk, .container_fantome_mob {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: auto;
    display: flex;
    opacity: 1;
}

.container_fantome_mob {
    display: none;
}

h2 { 
    position: absolute; top: 0.7rem; left: 1rem;
    font-weight: 900;
    font-size: clamp(1.1rem, 2.5cqw, 1.9rem);
}

.container_fantome_desk p, .container_fantome_mob p { 
    position: absolute; top: 7rem; left: 1rem;
    color: rgb(26, 46, 25);
    font-size: 1rem;
    padding-right: 0.3rem;
}

.container_fantome_desk a { 
    font-size: 1rem;
}

#contact a {
    color: rgb(26, 46, 25);
}

a:hover {
    color: rgb(4, 243, 111); 
}

span {
    font-weight: 900;
}

/* --------------- C A R D   W O R K ---------------- */
#portfolio_card {
    scroll-margin-top: 10rem; 
}
#accueil{
    scroll-margin-top: 9rem;
}

.container_work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    height: auto;
    padding: 0 10rem;    
}

.card {
    width: 37%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    position: relative;
}  

.card_img_container {
    position: relative;
    width: 100%;
}

.card_img {
    width: 100%;
    height: auto;
    display: flex;
    transition: opacity 0.3s ease;
} 

.card-content {
    padding: 1rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-content p {
    flex: 1;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 1rem;
}

.card-content a {
    color: rgb(26, 46, 25);
    text-decoration: none;
    font-weight: 900;
    transition: color 0.2s;
}

.card-content a:hover {
    color: rgb(4, 243, 111);
}

.merci{
    display: none;
}

.merci_mobile {
    display: none;
}

/* .card_img_container:hover .merci_mobile {
    opacity: 1;
} */

.merci_mobile_p {
    display: none;
    font-weight: 900;
    color: rgb(26, 46, 25);
}

/* ---------F O O T E R------------- */
footer {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.copyR {
    font-size: 0.65rem;
    color: rgb(26, 46, 25);
    transform: rotate(270deg);
    transform-origin:  center;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: absolute; top: -1rem; right: -4.5rem;
}


.card_img_container:hover .card_img {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.card_img_container:hover .openModalBtn {
    opacity: 1;
}

/* ------------------------  R E S P O N S I V E  ----------------------*/
/* ------------------------  R E S P O N S I V E  tablet ----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .marquee_container {
        padding: 20rem 0 20rem 0;
    }

    #arrow {
        transition: opacity 0.3s;
        width: 100%;
        padding-bottom: 8rem;
    }

    .container_encours{
        width: 60%;
        margin: 5rem 4rem 20rem auto;
    }
    
    #contact {
        width: 60%;
        margin: 5rem 4rem 20rem auto;
    }

    #contact p {
        padding-top: .1rem;
    }

    .card {
        width: 45%;
    }    
}

/* ------------------------  R E S P O N S I V E  mobile ----------------------*/
@media screen and (max-width: 767px) {
    #contact{
        scroll-margin-top: 10rem;
    }
    #portfolio_card {
        scroll-margin-top: 14rem; 
    }

    #accueil{
        scroll-margin-top: 25rem;
    }

    main {
        gap: 3rem;
    }

    .container_encours{
        width: 70%;
        height: auto;
        margin-right: 3rem;
        padding-right: 0;
    }    
    
    .container_encours .card-content{
        margin-left: 0!important;
    }

    #contact .container_fantome_desk {
        display: block;
    }

    h1 {
        margin-bottom: 4rem;
    }

    h2 { 
        position: absolute; top: 1rem;
    }

    .container_fantome_mob p, #contact a {
        font-size: 0.9rem; 
        top: 4.7rem;
        padding-right: 0.3rem;
    } 

    .container_work {
        width: 85%;
        padding: 0;
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;
        justify-content: start;
        gap: 0;
        flex-wrap: nowrap;
    }

    .card {
        padding-top: 3rem;
        width: 88%;
        margin-left: 0;
        justify-content: start;
    }

    .card-content {
        margin-left: 3rem;
    }

    .merci {
    display: block;
    }

    .merci_mobile {
    display: flex;
    }

    .merci_mobile_p {
    display: flex;
    }
    
    .container_fantome_desk {
        display: none;
    }
    .container_fantome_mob {
        display: block;
    }
}

/* ------------------------  R E S P O N S I V E  mobile Iphone8 ----------------------*/
@media screen and (max-width: 400px) {
    .container_encours{
        width: 75%;
        margin-right: 2.5rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    /* h2 { 
    position: absolute; top: 0.1rem;
    } */

    h2, .container_fantome_mob p { 
        left: 0.7rem;
    }

    .container_fantome_mob p { 
        padding-right: 0.3rem;
    }
    .card {
        width: 93%;
    }

    @container (min-width: 300px) {
        .marquee_text_mobile .text2 { font-size: 3.5rem; }
    }

    .imgCv {
        max-height: 70vh; /*  A VERIFIER   */
    }
}