/*-----------------------------text défilant------------------------------------------  */
.marquee_container {
    overflow: hidden; /* masque ce qui déborde */
    width: 100%; /* largeur de la fenêtre */
    padding: 12rem 0 2rem 0;
    box-sizing: border-box;
}

.marquee_text, .marquee_text_mobile {
    display: inline-block;
    white-space: nowrap;
    font-size: 6rem;
    font-family: "Doto", sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em white,
        0.015em 0.015em 0.0051em rgb(242, 108, 5),
        /* 0.015em 0.015em 0.01em rgb(0, 0, 0),  */
        0 0 0.1em rgb(3, 253, 66),
        0 0 0.2em rgb(135, 255, 165);

    /* text-shadow: 0.02em 0.02em 0.03em white,
        0 0 .5em blue,
        0 0 0.12em #0000ff; */ 
        /* text shadow bleu */
    animation: defilement 10s linear infinite; 
    /* Animation qui part de la droite de l'écran et sort complètement à gauche*/
}
@keyframes defilement {
    0% {
        transform: translateX(80%);
    } /* le text est déjà un peu sur la page et défile dés l'ouverture */
    100% {
        transform: translateX(-100%); /* Finit totalement hors écran à gauche */
    }
}

.disparu {
    display: none;
    pointer-events: none;
}

.marquee_container_mobile {
    margin: 4rem 0;
    position: relative;
    display: none;
}

.marquee_text_mobile .text2 {
    opacity: 0;
    font-family: "Doto", sans-serif;    
    font-size: 3.9rem;
    position: absolute;
    left: 0; /* Position finale */
    margin: 0;
    /* white-space: nowrap; */
}
.ligne1 {
    top: 0rem;
    animation: arrive 1s ease forwards;
    animation-delay: 0s;
}
.ligne2 {
    top: 3.8rem;
    animation: arrive 1s ease forwards;
    animation-delay: 0.3s;
}
.ligne3 {
    top: 7.6rem;
    animation: arrive 1s ease forwards;
    animation-delay: 0.6s;
}
.ligne4 {
    top: 11.4rem;
    animation: arrive 1s ease forwards;
    animation-delay: 0.9s;
}

@keyframes arrive {
    from {
        opacity: 0;
        left: 120%;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}



/*----------------------------- F I N text défilant------------------------------------------  */

