@import url(/style_header.css);
/* .border{
    border: 1px dotted rgb(243, 102, 125);
} */
* {
    box-sizing: border-box;
    /* border: 1px dotted lightpink; */ */
    cursor: crosshair;
}

body {
    /* border: 1px dotted rgb(230, 28, 180); */
    /* margin: 0 1rem 0 1rem; */
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*main {
    background-image: url(/img/Frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    height: 100rem; 
}*/

/* ouvrir un bloc text depuis la nav avec design figma */
/* #mon-image {
    display: none;
    /* L'image est cachée au départ */
/* max-width: 300px; */
/*} */

#image-container {
    display: none;
    /* Caché au départ */
    position: relative;
    width: max-content;
    margin-top: 20px;
}

#fond_a_propos {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: none;
    /*
    font-size: 20px;
    color: #333;
    border-radius: 15%;
    width: 28px;
    height: 28px; 
    line-height: 24px;
    text-align: center;*/
    transition: background 0.2s;
}

.close-btn:hover {
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 1em blue,
        0 0 0.12em blue;
}


footer{
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 1px dotted rgb(255, 0, 81); */
}
footer div{
    /* border: 1px dotted blue; */
}
/* Responsive : menu vertical sur petits écrans */
@media (max-width: 600px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        /* margin: 10px 0; */
    }
}






/*-----------------------------text défilant------------------------------------------  */
.marquee-container {
    overflow: hidden;
    /* masque ce qui déborde */
    width: 100%;
    /* largeur de la fenêtre */
    padding: 20rem 0;
    box-sizing: border-box;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 5rem;
    font-family: "Doto", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    color: white;
    /* font-style: normal; */
    /* font-variation-settings:
        "ROND" 0; */
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em rgb(3, 253, 66),
        0.015em 0.015em 0.01em rgb(0, 0, 0),
        0 0 0.1em rgb(3, 253, 66),
        0 0 0.2em rgb(135, 255, 165);

    /* text-shadow: 0.02em 0.02em 0.03em white,
        0 0 .5em blue,
        0 0 0.12em #0000ff; */
    /* animation: defilement 11s linear infinite; */
    /* Animation qui part de la droite de l'écran et sort complètement à gauche */
}

@keyframes defilement {
    0% {
        transform: translateX(80%);
    }

    /* le text est déjà un peu sur la page et défile dés l'ouverture */
    100% {
        transform: translateX(-100%);
    }

    /* Finit totalement hors écran à gauche */
}

.disparu {
    opacity: 0;
    pointer-events: none;
}