
header {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    /* padding: 2rem 2rem 0.2rem .3rem; */
    margin: 0;
    padding: 0;
    /* border: 1px dotted rgb(28, 230, 95); */
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

/* dégradé */
/* header div{
    background-color: rgb(135, 255, 165);
    height: 1.8rem;
} */
.green {
    background: linear-gradient(to bottom, rgba(255, 255, 255) 10%, rgb(135, 255, 165, 0.2));
    height: 1.8rem;
    /* border: 1px dotted lightpink;  */
    padding: 0 3rem;
}
.green1 {
    background: linear-gradient(rgba(255, 255, 255), 2%, rgba(135, 255, 165, 0.07) 1% , rgba(135, 255, 165, 0.3) 40%, rgb(135, 255, 165, 0.5));
    height: 1.8rem;
    /* border: 1px dotted rgb(235, 23, 23); */
    padding: 0 3rem;
}
.green2{
        /* background-color: rgba(135, 255, 165, 0.2); */
    background: linear-gradient(rgba(255, 255, 255), 0.5%, rgba(135, 255, 165, 0.3) 3% , rgba(135, 255, 165, 0.7) 40%, rgba(135, 255, 165, 0.9) );   
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 3rem;
    margin: 0;
    /* border: 1px dotted rgb(28, 230, 95); */
}
.name, .dev, .ultra, ul {
    font-family: "Doto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    letter-spacing: .15rem; 
    text-shadow: 0.02em 0.02em 0.03em rgb(228, 15, 15),
        1  1 1 .5em rgb(236, 11, 11),
        0 0 0.12em rgb(239, 9, 9);
    padding: 0;
    margin:  0;
    /* border: 1px dotted rgb(23, 23, 235); */

}
/* .name, .dev {
    margin: 0 0 0 1rem;
} */
/* {
    margin: 0 0 0 3rem;
    padding: 0;
    align-self: center;
    align-items: center;
    border: 1px dotted lightpink;
} */

.containerLogo {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
/* FIN dégradé */

/* .name {
    font-family: "Doto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    letter-spacing: .15rem; 
    /* padding: 0 0 0 1rem; 
    margin: 0;
} */


/* .logo {
    background-image: url(/img/logo_m.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 4rem;
    height: auto;
    padding: 0;
    border: 1px dotted rgb(28, 230, 95);
} */

/* Styles de base pour le NAV */


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: end; */
}
.nav ul li {
    margin: 0 1rem;
}
.nav ul li a {
    display: block;
    /* padding: 15px 10px; */
    text-decoration: none;
    font-weight: 600;
    border-bottom: 0.1em solid transparent; /* lien qui ne bougent pas */
    transition: border-color 0.3s; /* Pour une animation fluide */
    /* transition: background-color 0.3s, color 0.3s; */
    /* border-radius: 4px; */
    color: black;
}
.nav ul li a:hover,
.nav ul li a:focus {
    /* color: #ffd700; */
    /* Jaune doré au survol */
    border-bottom: 0.12em solid black;
}
